<!--   <div class="container">
    <div class="login">
      <h2>Welcome</h2>
  
  
      <form [formGroup]="userForm">
        <div>
          <label>Email address</label>
          <input placeholder="enter your email address" type="email" id="mail" formConrolName="email">
        </div>
        <div class="form-group was-validated">
          <label>password</label>
          <input placeholder="enter your password" type="password" id="pass" formConrolName="password">
  
        </div>
        
      </form>
    </div>
  </div>  -->