
<app-z-template-driven-form></app-z-template-driven-form>


<!-------New pratice-----
<app-demo></app-demo>

-->


<!-----Tasks--------
<app-task-login-temp></app-task-login-temp>

<app-to-do-list></app-to-do-list>

<app-bmi></app-bmi>

<app-user-input></app-user-input>

<app-pipes></app-pipes>
--->


<!--------First practise-----------
<button class="btn btn-success" routerlink="/table">Table</button>
<app-table></app-table>
<router-outlet></router-outlet>

<app-hello></app-hello>

<app-two-way-binding></app-two-way-binding>

<app-property-binding></app-property-binding>

<app-event-binding></app-event-binding>

<app-dir-struc1></app-dir-struc1>

<app-dir-stru2></app-dir-stru2>

<app-dir-struc3></app-dir-struc3>

<app-dir-struc4></app-dir-struc4>

<app-dir-struc5></app-dir-struc5>

<app-dir-struc6></app-dir-struc6>

<app-httpclient></app-httpclient>

---->